<!--
220000213 M Tshabalala
219014331 SL Hadebe
219007267 MP Tsoaela
-->
<div class="skewed-header">

<div class="header-background" style="background-image: url('https://www.totaljobs.com/advice/wp-content/uploads/Teacher-job-description-1.jpg');"></div>

<div class="skewed-header-wrapper">

    <div class="skewed-header-content">

        <div class="heading-wrapper">
            <h1>About Us</h1>
        </div>
    </div>


</div>
</div>


<div class="page-container">
    <div class="content-wrapper">

        <img src="https://www.gov.za/sites/default/files/Minister%20of%20Basic%20Education%20Angie%20Motshekga.jpg" alt="phone deal" id="deal">
        <p>
            As with many businesses, our company was established by our founder, Brad, scratching his own itch.
            Brad
            had a love of the latest tech but couldn’t stand the process of buying and selling via classified
            sites.
            After dealing with the final scammer that broke the camel’s back, our company was born.
            Seven years ago, Brad started building the business from home. It grew quickly and he ran out of
            space
            for stock in his small home office. Stock kept piling up – so he expanded his “warehousing” to the
            couch
            in the lounge. This didn’t last long.The business has grown to be a team of 16, and has over
            1,000
            devices in our 600m² warehouse.
            While there are now many small businesses trying to do what we do, we pioneered the formalised
            online
            buying and selling of used tech online in South Africa.
        </p>
        <p>
            Instead of complaining about the state of our country, we want to be part of the solution. We want to
            grow
            our business and employ as many people as we can. Our team also has a heart for the poor and are
            actively involved in community-upliftment and entrepreneurial training programs in the local
            townships.

            We are proud to have nearly 2,000 positive ratings on bidorbuy.co.za and we are the top-rated used
            tech
            company on HelloPeter.
            Our team is focused on customer service and we maintain a “continual learning” environment, so
            everyone
            on our team is always improving.
            For security and operational reasons, we do not allow collections at our warehouse and only deliver
            by
            courier. Delivery is overnight to most areas in SA.
        </p>
    </div>
</div>