<!--
220000213 M Tshabalala
219014331 SL Hadebe
219007267 MP Tsoaela
-->
@{
    ViewBag.Title = "Home Page";
}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder text-white">Welcome to Free State Department of Education Applying Website</h1>
        <p class="lead">Making it more better to place your children to your desired schools</p>
        <a class="btn btn-lg btn-light" href="#home">Start scrolling for more Information!</a>
    </div>
</header>
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Welcome to the Department of Basic Education!</h1>

    <h1 class="my-4">
        Free State Department of Education Online Application

    </h1>
    <p>
        Welcome to the National Department of Basic Education’s website.
        Here you will find information on, amongst others, the Curriculum,
        what to do if you’ve lost your matric certificate, links to previous Grade 12 exam
        papers for revision purposes and our contact details should you need to get in touch with us.
        Whether you are a learner looking for study guides, a parent/guardian wanting a school for your child, a new
        teacher seeking employment or a researcher looking for education policies, we’ve taken great care to ensure that
        you can easily access the information on the website. Should you, however, not find what you’re looking for
        please send an email to info@dbe.gov.za and we will gladly assist.
    </p>
    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/Content/images/new/pic3.jpeg" height="750" width="750" alt="Parent">

        </div>

        <div class="col-md-4">
            <h3 class="my-3">Overview</h3>
            <p>
                The mission of the Free State Department of Education is to provide an education system that is free,
                compulsory, universal and equal for all children of the Free State Province.
            </p>
            <h3 class="my-3">School admissions</h3>
            <ol type="1">
                <li>Apply to at least 3 schools (Including the ones closest to your home)</li>
                <li>Indicate your order of preference on the system</li>
                <li>Meet the minimum requirements of the curriculum at public schools</li>
                <li>
                    The parent(s) must ensure that the learner registers in time and correctly for applicable
                    examinations and that he/she sits for such examinations.
                </li>
            </ol>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Requirements</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="requirements2">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://cdn.pixabay.com/photo/2016/06/15/15/02/info-1459077_1280.png" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Information</h5>
                    <p class="card-text">
                        <ul>
                            <li>Apply for your child in your comfort zone</li>
                            <li>Apply to three different schools</li>
                            <li>Apply to schools in your location zone</li>
                            <li>Apply to more than three children</li>
                        </ul>
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 mb-4">
            <div class="requirements1">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://cdn-icons-png.flaticon.com/512/7859/7859049.png" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Required Documents</h5>
                    <p class="card-text">
                        <ul>
                            <li>Parent ID</li>
                            <li>Child Birth Certificate</li>
                            <li>Proof of Address</li>
                            <li>Lastest Grade Report</li>
                        </ul>
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 mb-4">
            <div class="requirements1">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://icons.veryicon.com/png/o/business/general-office-icon/general-upload-file.png"
                         class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">How to upload required documents</h5>
                    <p class="card-text">
                        <ul>
                            <li>Scan the certified documents</li>
                            <li>Scan each document separately</li>
                            <li>Go to the upload document section</li>
                            <li>Then upload each document</li>
                        </ul>
                    </p>

                </div>
            </div>
        </div>




    </div>
    <!-- /.row -->

</div>