@model GA1_Intergration.RouteConfig

@{
    ViewBag.Title = "Index";
}

<section class="bg-light" id="services">


    <div class="container px-8">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <div class="container">
                    <h1>Frequently Asked Questions</h1>
                    <details>
                        <summary>How do I complete an application?</summary>
                        <div>
                            <p>
                                Log on to www.freestateadmissions.gov.za and click on Register,
                                to register parent details and learner details before you apply to a school.
                                The System will guide you through each one of the 5 steps to make an application.
                                Note that you will receive user details on SMS.
                                Please keep the username and password to use when you need to return to the
                                GDE portal to view progress with your application.
                            </p>>
                        </div>
                    </details>
                    <p></p>
                    <details>
                        <summary>Will applicants who apply first be placed first?</summary>
                        <div>
                            <p>No. Applicants who live closest to the school and in the school feeder zone will be placed first</p>>
                        </div>
                    </details>
                    <p></p>
                    <details>
                        <summary>Can I apply for my friend’s child or my sister’s / brother’s child?</summary>
                        <div>
                            <p>
                                Only if you friend gives you permission to do so. You will need to create a profile for your
                                neighbour/ sister or brother. You must Register the details (ID Number, cell phone number, address) of
                                your neighbour / sister / brother to apply for the children.
                                DO NOT register someone else’s child on your profile or under your name and details
                            </p>>
                        </div>
                    </details>
                    <p></p>
                    <details>
                        <summary>How do I complete an application?</summary>
                        <div>
                            <p>
                                Log on to www.freestateadmissions.gov.za and click on Register,
                                to register parent details and learner details before you apply to a school.
                                The System will guide you through each one of the 5 steps to make an application.
                                Note that you will receive user details on SMS.
                                Please keep the username and password to use when you need to return to the
                                GDE portal to view progress with your application.
                            </p>>
                        </div>
                    </details>
                    <p></p>
                    <details>
                        <summary>How do I complete an application?</summary>
                        <div>
                            <p>
                                Log on to www.gdeadmissions.gov.za and click on Register,
                                to register parent details and learner details before you apply to a school.
                                The System will guide you through each one of the 5 steps to make an application.
                                Note that you will receive user details on SMS.
                                Please keep the username and password to use when you need to return to the
                                GDE portal to view progress with your application.
                            </p>>
                        </div>
                    </details>

                </div>
            </div>
        </div>
    </div>
</section>

